[submodule "onnxruntime"]
	path = onnxruntime
	url = https://github.com/microsoft/onnxruntime
[submodule "onnxruntime-extensions"]
	path = onnxruntime-extensions
	url = https://github.com/microsoft/onnxruntime-extensions
